@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad.ttf');

}
div, p, h1, h2, h3, span, a {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
body {
    margin: 0 auto;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.main__logo {
    font-size: 80px;
    font-weight: 400;
    padding: 45px 0;
    color: #000000;
}

.main__logo-2 {
    font-size: 80px;
    color: #4bcaff;
}

.navbar {
    background-color: #35444f;
    margin-bottom: 51px;
}

.navbar__nav {
    text-align: center;
}
.navbar__nav-item {
    display: inline-block;
}

.navbar__nav-link:hover {
    cursor: pointer;
    height: 100%;
    background-color: #222f3a;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.navbar__nav-link {
    color: #ffffff;
    height: 100%;
    display: block;
    padding: 26px 21px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.sidebar {
    border: 1px solid;
    display: inline-block;
    width: 344px;
    height: 399px;
    vertical-align: top;
    margin-right: 40px;
}

.sidebar__nav-link {
    color: #485863;
    font-size: 27px;
    display: block;
    padding: 22px;
    transition: .5s;
}
.sidebar__nav-link:hover {
    background-color: #dbdbdb;
    padding-left: 40px;
}

.main__content {
    text-align: center;
    display: inline-block;
    width: 885px;
}

.main__text {
    text-align: justify;
    margin: 50px 0;
    padding: 0 20px 0 20px;
}

.main__text-item {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 24px;
}

.main__image {
    text-align: center;
    display: inline-block;
    border: 1px solid;
    width: 100%;
    padding: 50px 0;
}

.main__img {
    transition: .5s;
}
.main__img:hover {
    transform: scale(1.2);
}

.footer {
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}

.footer__item-link {
    color: #0c1927;
    font-size: 28px;
    border-bottom: 1px solid transparent;
}

.footer__item-link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}

.footer__list {
    padding: 20px 0;
    margin-left: 42px;
    display: inline-block;
}

.footer__item {
    display: inline-block;
    padding-left: 10px;
}

.footer__copyright {
    display: inline-block;
    float: right;
    padding: 20px;
/*    Вроде учили float-ы, сделал так, но другой вариант = margin-left*/
}


