.container {
    width: 1160px;
    margin: 0 auto;
}

/*margin 0 0 0 auto*/

/*div + same with and height + flex-center*/

.navbar {

    background-color: #49473f98;
    z-index: 999;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100vw;
    position: fixed;


}

.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-cube {
    padding-left: 14px;
    padding-right: 14px;
    background-color: #18cfab;
    position: relative;


}

.logo-cube::before {
    content: '';
    width: 0;
    left: 0;
    position: absolute;
    height: 0;
    bottom: 40px;
    border-style: solid;
    border-width: 0px 30px 15px 30.5px;
    border-color: #c12f2f00 #bb212100 #18cfab #e20c0c00;
}

.logo-cube::after {
    content: '';
    width: 0;
    left: 0;
    position: absolute;
    height: 0;
    top: 40px;
    border-style: solid;
    border-width: 15px 30px 0px 30.5px;
    border-color: #18cfab transparent transparent transparent;

}

.logo-symbol {

    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}


.logo-title {
    font-size: 32px;
    margin-left: 8px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.logo-title-style {
    font-size: 32px;
    color: #18cfab;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.nav-flex-content {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;

}

.navbar-nav-link {
    color: #b8b8b8;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    /*padding: 25px 16px;*/
    margin-right: 16px;
}

.navbar-nav-link.selected {
    color: #18cfab;
    position: relative;

}

.navbar-nav-link.selected::after {
    content: '';
    position: absolute;
    background-color: #18cfab;
    padding: 1px;
    width: 100%;
    top: 53px;
    right: 0;
}

.navbar-nav-link:hover {
    color: #18cfab;
    position: relative;
}


.navbar-nav-link:hover::after {
    content: '';
    position: absolute;
    background-color: #18cfab;
    padding: 1px;
    width: 100%;
    top: 53px;
    right: 0;

}

.header {
    background-image: url('../img/bg/header.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    /*background-attachment: fixed;*/
    display: flex;
    align-items: center;
}

.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header-title-h4 {
    color: #ffffff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;


}

.wordpress-green {

    color: #18cfab;
}

.header-title-h1 {
    color: #ffffff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 79px;
    font-weight: 700;
    line-height: 84.24px;
    text-transform: uppercase;
    margin-bottom: 37px;


}

.header-title-h3 {
    color: rgba(212, 212, 212, 0.68);
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 300;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}


.btn {

    display: inline-block;
    /*width: 166px;*/
    /*height: 61px;*/
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.77);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 19px;
    border-radius: 2px;
    margin-right: 28px;
}

.btn-blue {

    background-color: #00cbf6;
}

.btn-blue:hover {
    background-color: #00acd4;

}

.btn-green {
    background-color: #18cfab;
}

.btn-green:hover {
    background-color: #1f9e85;
}

.btn-border-top {

    border-top: white 4px solid;
}

.header-features {
    display: flex;
}

.main-feature {
    display: flex;
    flex-basis: 25%;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.feature-black {
    border-top: 4px solid #18cfab;
    border-radius: 2px;
    background-color: #1c2a33;
    color: #18cfab;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-green {
    border-top: 4px solid #ffffff;
    border-radius: 2px;
    background-color: #18cfab;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.icon-1 {
    background-image: url('../img/icons/Forma_1.png');
    width: 58px;
    height: 97px;
    background-repeat: no-repeat;

}

.icon-2 {
    background-image: url('../img/icons/Forma_2.png');
    width: 93px;
    height: 75px;
    background-repeat: no-repeat;

}

.icon-3 {
    background-image: url('../img/icons/Forma_3.png');
    width: 60px;
    height: 96px;
    background-repeat: no-repeat;

}

.icon-4 {
    background-image: url('../img/icons/Forma_4.png');
    width: 99px;
    height: 76px;
    background-repeat: no-repeat;

}

.flex-icons {
    display: flex;
    padding-bottom: 50px;

}


.our-services {
    background-color: #fff;
    padding-top: 82px;
    text-align: center;


}

.section-title {
    color: #4e4e4e;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    /*margin-bottom: 300px;*/
}

.under-lines::after {
    content: "";
    display: block;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    margin: 37px auto 0;
    box-shadow: #18cfab 15px 4px 0 0;
}

.services-grid-container {
    padding-top: 74px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.services-link {
    border: 1px solid rgba(128, 128, 128, 0.17);
    padding: 20px 22px;
    background-color: #f8fcfe;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.services-link.active {
    background-color: #18cfab;
    color: #ffffff;
    position: relative;
}

.services-link.active::after {
    /*background-color: #18cfab;*/
    /*color: #ffffff;*/
    content: '';
    width: 0;
    left: 66px;
    position: absolute;
    height: 0;
    top: 50px;
    border-style: solid;
    border-width: 19px 20px 0px 20.5px;
    border-color: #18cfab transparent transparent transparent;
}

.services-items {
    display: grid;
}

.services-content {
    display: none;
    margin-top: 24px;


}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.service-content-img {
    background-image: url('../img/services/img.png');
    width: 194px;
    height: 139px;
    background-repeat: no-repeat;
    margin-right: 20px;

}

.services-content.active {
    display: block;


}

.service-content-text {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    padding: 20px 0;
}

.buy-now {
    /* box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.4); */
    background-image: url(../img/bg/section-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 151px 0;
    margin-top: 80px;
}


.buy-now-paragraphs {

    display: flex;
    align-items: center;
    flex-direction: column;
}


.buy-now-slogan {
    color: #18cfab;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;

}

.buy-now-description {

    color: #d8d8d8;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 106px;
}

.buy-now-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}


.our-work-grid-container {
    padding-top: 74px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; */
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    width: 851px;
    margin: 0 auto;

}

.our-work-link {
    border: 1px solid rgba(128, 128, 128, 0.062);
    padding: 20px 36px;
    background-color: #ffffff;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.our-work-link.active {
    color: #18cfab;
    border-top: #18cfab 2px solid;
}

.our-work-items {
    display: grid;
}

.our-works-examples {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    align-items: center;
    justify-content: center;
    margin-top: 71px;

}

.our-work-img {
    max-width: 100%;
    height: auto;
}

.our-work-btn {
    margin-top: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;


}

.our-work {
    background-color: #f8fcfe;
    padding-top: 97px;
}

.our-work-items-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-work-images {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    position: relative;

}



.btn-load-more {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 20px 18px 20px 48px;
    position: relative;


}

.btn-load-more::before {
    content: '+';
    display: flex;
    font-size: 34px;
    position: absolute;
    top: 9px;
    left: 17px;

}

.breaking-news {
    padding-top: 84px;
    padding-bottom: 70px;
}


.breaking-news-examples {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 70px;
    /*align-items: center;*/
    justify-content: center;
    margin-top: 70px;

}

.breaking-news-img {
    max-width: 100%;
    height: auto;
}

.news-description {
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 14px;
    padding-top: 14px;
}

/*.news-calendar-info:hover .news-description {*/
/*    background-color: #18cfab;*/
/*}*/

.our-work-images:hover .news-description {
    /*background-color: #18cfab;*/
    color: #18cfab;
}

.our-work-images:hover .news-calendar-info {
    background-color: #18cfab;
}


.news-post-info {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}


.news-info {
    background-color: #f8fcfe;
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px solid #80808014;

}

.flex-post-info {
    margin-left: 13px;

}


.flex-post-column {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-left: 10px;
    padding-bottom: 12px;
}

.news-post-info:first-child::after {
    content: '|';
    display: inline-block;
    margin-left: 15px;
    font-size: 15px;
}

.news-calendar-info {
    position: absolute;
    right: 14px;
    padding: 14px 18px;
    display: flex;
    background-color: #203e38;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.news-calendar-info::after {
    content: 'Feb';
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.post-link {
    text-decoration: none;
}



.about-us {
    /* box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.4); */
    background-image: url(../img/bg/section-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 99px 0;
    margin-top: 80px;
}


.buy-now-paragraphs {

    display: flex;
    align-items: center;
    flex-direction: column;
}


.about-us-description {
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 106px;
    color: #bbbbbb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.buy-now-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-title {

    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
}
.quote {

    display: block;
    padding: 4.5em 0 0;
    margin-top: 69px;
    position: relative;
    opacity: 0.8;
}

.quote::before {
    content: '\201C';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 12em/1.08em 'Georgia', serif;
    color: #18cfab;
    text-align: center;
}




/**//**//**//**//**//**//**//**//**//**//**//**/
