@font-face {

    font-family: 'Verdana', sans-serif;
    src: url(../fonts/Verdana.ttf);
}



body {

    margin: 0 auto;
}

.background {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-attachment: fixed;
}


/* FLEXBOX START */
.header-flex {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.header-icons{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-right: 25px;
    }

    .header-login-flex {
        
        display: flex;
        padding-right: 75px;
    }

    .login-title-flex {
        display: flex;
        
        }
        


/* FLEXBOX END */

/* HOVER START */

.calendar-icon:hover {

    background-position: -106px -49px;
} 

 .forum-icon:hover {

    background-position: -58px -10px;
} 

 .journey-icon:hover {

    background-position: -50px -50px;
} 

.login-hover:hover {

    border-bottom: 1px solid #3cb878;
    opacity: 0.8;
}


.journey-icon:after {
    content: "";
    display:table;
background-color:  rgba(132, 132, 132, 0.45);
    width: 1px;
    height: 19px;
    margin-left: 44px;

}

/* HOVER END */


/* HEADER SECTION START */

.header-black-line {
position: relative;
background-color:  rgba(0, 0, 0, 0.41);
width: 100%;
padding-top: 20px;

}

.header-logo-link {
    padding-left: 81px;
text-decoration: none;
    color:  #fff;
}

.header-logo-title {

    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-logo-title:hover {

    color:  #3cb878;
}

.calendar-icon{
    width: 19px; 
    height: 19px;
    background-position: -106px -10px;
}


.forum-icon {
    width: 28px;
    height: 20px;
    background-position: -10px -10px;
}


.journey-icon {
    width: 20px;
    height: 20px;
    background-position: -10px -50px;
}

.header-icons-link {

position: absolute;
        background-image: url('../img/header-icons.png');
        background-repeat: no-repeat;


}

.header-icons-item {
    padding-right: 50px;
}

.header-login-title {

    font-family: 'Verdana', sans-serif;
    color:  #fff;
    font-size: 14px;
    font-weight: 400;
align-self: center;
}

.header-login-link {

    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid transparent;
}

.login-hover {

    color:  #3cb878;
}


/* HEADER SECTION STOP */


.top-form {

    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.white-block {

    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
width: 444px;
height: 584px;
background-color: #fff;
border-radius: 5px 5px;


}

.green-left-lable {

position: absolute;
display: block;
    margin-top: 29px;
    width: 18px;
height: 18px;
background-color: #3cb878;
}

.sign-up-title {
    font-family: 'Verdana', sans-serif;
color:  #434343;
text-shadow: 0 0 1px;
font-size: 20px;
font-weight: 400;
margin-right: 0;
margin-top: 29px;

}

.log-in-title {


font-weight: 400;
text-shadow: 0 0 0.5px;

}

.header-flex-form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 60px;
    margin-right: 60px;

}

.login-form-link {
    margin-left: 60px;
    font-family: 'Verdana', sans-serif;
color:  #3cb878;
margin-top: 33px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.login-form-link:hover {
    border-bottom: 1px solid #3cb878;
    opacity: 0.7;
}

.facebook-button {
display: block;
    border-radius: 3px;
background-color:  #305db8;
width: 157px;
height: 46px;

}

.fb-title {
position: relative;
    font-family: 'Verdana', sans-serif;
    color:  #fff;
    font-size: 16px;
    font-weight: 400;
left: 66px;
top: 16px;
opacity: 0.9;
}

.fb-link {

    text-decoration: none;

    
}


.fa-facebook-f {

    position: absolute;
    top:13px;
    left: 17px;
font-size: 21px;
color:#fff;
}

.fa-facebook-f:after {
position: absolute;
top: 0;
bottom: 0;
opacity: 0.4;
margin: -2px auto;

    content: "";
    display:table;
    background-color:  rgba(65, 65, 65, 0.45);
    width: 1px;
    height: 28px;
    margin-left: 24px;
 
}

.flex-form-content {

    display: flex;
    justify-content: space-between;
margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
}






.google-button {
    display: block;
        border-radius: 3px;
        background-color:  #df4a32;
    width: 157px;
    height: 46px;
    
    }
    
    .gp-title {
    position: relative;
        font-family: 'Verdana', sans-serif;
        color:  #fff;
        font-size: 16px;
        font-weight: 400;
    left: 66px;
    top: 16px;
    opacity: 0.9;
    }
    
.fb-btn {

    position: relative;


}

.gp-btn {
 
    position: relative;


}

    .gp-link {

        text-decoration: none;
    
        
    }
    
    
    .fa-google-plus-g {
    

        position: absolute;
        top:13px;
        left: 14px;

position: absolute;
    font-size: 22px;
    color:#fff;
    }
    
    .fa-google-plus-g:after {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    opacity: 0.4;
    margin: -2px auto;

        content: "";
        display:table;
    background-color:  rgba(65, 65, 65, 0.45);
        width: 1px;
        height: 28px;
        margin-left: 29px;
     
    }

    .facebook-button:hover {
        background-color:  #103888d5;
 
    }

    .google-button:hover {

        background-color:  #a82a16cb;
    }

    .hr-line {
        border-bottom: 1px solid rgba(124, 124, 124, 0.267);
        width: 135px;
height: 1px;
margin-right: 10px;

    }

    .hr-line2 {

        border-bottom: 1px solid rgba(124, 124, 124, 0.267);
        width: 135px;
height: 1px;
    }
    .flex-hrline {

        margin-left: 60px;
        margin-right: 60px;
        margin-top: 25px;
        display: flex;
justify-content: space-between; 
align-items: center;
    }
    .hr-text {
        top:0;
        bottom: 0;
        left: 0;
        right:0;
position: relative;
        font-family: 'Verdana', sans-serif;
        color:  #848484;
        font-size: 14px;
        font-weight: 400;


    }
    
    .submit-button {
/* margin-top: 28px; */
position: relative;
top:48px;
        width: 322px;
height: 46px;
background-color: #39ba78;
color: rgba(255, 255, 255, 0.863);
font-size: 18px;
outline: none;
border-style: none;
border-radius: 3px;
    }


    .submit-button:hover {
        background-color: #2f9b65;
        cursor: pointer;

    }

    .form-input {
border-style:none;
outline: none;
border: 1px solid rgb(235, 235, 235);
margin-top: 9px;

        border-radius: 3px;
background-color:  #fff;
width: 322px;
height: 46px;
padding-left: 19px;
font-family: Verdana;
color:  #434343;
font-size: 14px;
font-weight: 400;

    }

    .form-input::placeholder {
        color:  #bebebe;

    }
    .form-input:active {

        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    }
    .form-input:hover {

        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    }

    .form-lables {

        position: relative;

    }

    .placeholder {

        color:  #bebebe;
    }

    .form {

        margin-left: 60px;
        margin-right: 60px;
    }

    .agree-style {
        font-family: Verdana;
        color:  #434343;
        font-size: 14px;
        font-weight: 400;

        

    }

    .agree-green {
        border-bottom: 1px solid transparent;
color: #3cb878;
    }

    .agree-green:hover {
        color:#2eaa6a;
        border-bottom: 1px solid #2eaa6a;
        cursor: pointer;
    }

    .checkbox-style {
color:green;
       padding-top: 22px;
    }

    input[type="checkbox"] {
    
        display: none;
    }

    label[for = "agree"] {
        padding-left: 20px;
        position: relative;
top: 22px;
    }
    label::before {
        border:1px solid grey;
        border-radius: 3px;
/* position: absolute; */
        content: "";
        display: inline-block;
        height: 15px;
        width: 15px;
        vertical-align: middle;
        margin-left: -20px;



        
    }
    input[type="checkbox"]:checked + label::before {

        content: '\2714';
position: relative;
line-height: 0.5;
        font-size:23px;
        color:green;
    }
